{% extends "base.html" %}
{% block title %}"РтК" Головна{% endblock %}
{% block container %}

    <h2>
        Профіль користувача
    </h2>

    <div> <b>Логін: </b>{{ user }} </div>
    <div> <b>Ім'я: </b>{{ user.first_name }} </div>
    <div> <b>Прізвище: </b>{{ user.last_name }} </div>
    <div> <b>Email: </b>{{ user.email }} </div>

    <br>

    <a href="{% url "profile_edit" %}">Редагувати дані</a>

    <hr>

    <div>
        <p>Всього замовлень: 0</p>
        <p>Виконано: 0</p>
        <p>На суму: 0</p>
        <p>Скасовано: 0</p>
    </div>

{% endblock %}