{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block container %}
    <h1>{{ object.name }} </h1>
    <div>{{ object.description }}</div>
    <h2>Ціна: {{ object.price }} </h2>
    Наявність:
    {% if object.quantity %}
        <pr style="color:green">є в наявності</pr>
        <br><br>
        <input type="submit" value="Придбати">
    {% else %}
        <pr style="color:red">під замовлення</pr>
        <br><br>
        <input type="submit" value="Придбати" disabled>
    {% endif %}
 {% endblock %}