{% extends "base.html" %}
{% load static %}
{% block container %}
<div class="row row-cols-4">
  {% for object in object_list %}
    <div class="col mb-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static '258184_original.jpg' %} " alt="goods/258184_original.jpg">
        <div class="card-body">
          <h5 class="card-title">{{ object.name }}</h5>
          <p class="card-text">Цена: {{ object.price }}</p>
        {% if object.quantity %}
          <p style="color: green">
          В наявності: {{ object.quantity }}
          </p>

          <a class="btn btn-success" href={% url 'goods:detail' pk=object.pk %}>Купити</a>
          {% else %}
            <p style="color: red">
            Під замовлення
            </p>
            <a class="btn btn-success disabled"  href={% url 'goods:detail' pk=object.pk %}">Купити</a>

        {% endif %}
            </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
