<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse ">
    <div>" "</div>
    <a class="navbar-brand" >Роги та копита</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      {% if user.is_authenticated %}
        <span class="text-light">
          {{ user }}
        </span>
        <div>" "</div>
        <a class="btn btn-success" href="{% url 'users:profile' %}" role="button">Profile</a>
        <div>" "</div>
        <a class="btn btn-success" href="{% url 'users:logout' %}" role="button">Log Out</a>
        <div>" "</div>
      {% else %}
        <a class="btn btn-success" href="{% url 'users:login' %}" role="button">Log In</a>
        <div>" "</div>
        <a class="btn btn-success" href="{% url 'users:register' %}" role="button">Register</a>
        <div>" "</div>
      {% endif %}
    </div>
  </div>
</nav>